@model Leerplatform.Models.Les

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Les</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tijdstip" class="control-label"></label>
                <input asp-for="Tijdstip" class="form-control" />
                <span asp-validation-for="Tijdstip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VakId" class="control-label"></label>
                <select asp-for="VakId" class ="form-control" asp-items="ViewBag.VakId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LokaalId" class="control-label"></label>
                <select asp-for="LokaalId" class ="form-control" asp-items="ViewBag.LokaalId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PlanningId" class="control-label"></label>
                <select asp-for="PlanningId" class ="form-control" asp-items="ViewBag.PlanningId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
